@media screen and (min-width: 960px) {
	/* 960px以上に適用されるCSS（PC用） */
*{
	margin: 0;
	padding: 0;
	color: rgb(51,51,51);
	font-family:serif;
	background-size: cover;
	-webkit-font-smoothing: antialiased;
}
a{
	text-decoration: none;
}
li{
	list-style: none;
}
/*------------------------------------------------------------------------------ヘッダー------------------------------------------------------------------------------------*/
header{
	position: fixed;
	top: 0;
	height: 80px;
	width: 100vw;
	z-index: 100;
	background-color: white;
	box-shadow: 0 0 4px rgba(0, 0, 0, .3);
}

header i{
	float: right;
	padding: 30px;
	margin-right: 20px;
	font-size: 20px;
	color: rgba(51,51,51,.4);
	cursor: pointer;
}

header img{
	float: left;
	height: 60px;
	margin: 10px 30px 0 20px;
}
header li{
	height: 80px !important;
	line-height: 90px;
	padding: 0 20px;
	color: rgba(51,51,51,.4);
	font-family: "Hiragino Sans";
}
header ul{
	display: block;
	display: flex;
	float: left;
}
header i:hover{
	color: rgba(51,51,51);
	transition: all .1s;
}
header li:hover{
	color: rgb(51,51,51);
	transition: all .1s;
}
/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------ナビゲーション------------------------------------------------------------------------------*/
nav{
	display: none;
	position: fixed;
	background-color: white;
	text-align: left;
	z-index: 99; 
	box-shadow: 0 0 4px rgba(0, 0, 0, .3);
}
nav ul{
	width: 100vw;
	background-color: white;
	padding: 50px 0;
}
nav li{
	height: 120px;
	line-height: 120px;
	font-size: 20px;
	font-weight: 500;
	font-family: "Hiragino Sans";
	color: rgb(51,51,51,.4);
	text-align: center;
	cursor: pointer;
	transition:all 0.3s;
}
nav a{
	font-family: "Hiragino Sans";
}
nav li:hover{
	color: rgb(51,51,51);
	transition: all .1s;
}
/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------トップ画像----------------------------------------------------------------------------------*/
.top-img{
	height:500px;
}
.top-img1{
	background-image: url(top-img1.jpg);
}
.top-img2{
	background-image: url(top-img2.jpg);
}
/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------メイン-------------------------------------------------------------------------------------*/
#main-container{
	padding: 0px 100px 0px 100px;
}
/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------メッセージ----------------------------------------------------------------------------------*/
.message-container{	
	padding:20px 0 80px 0;
}
.message-container div{
	text-align: center;
}
.message-container img{
	width: 225px;
	margin:10px 20px 15px 0;
}
.message-container p{
	padding: 0 200px;
	line-height: 45px;
	font-size: 19px;
	font-weight: 300;
}
/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------事業内容----------------------------------------------------------------------------------*/
.business-content-container{
	margin-bottom: 20px;
}
.business-content-container h1{
	font-size: 35px;
	line-height: 35px;
	margin-left: -2px;
}
.business-content-container span{
	display: block;
	font-size: 20px;
	margin-bottom: 50px;
	color: rgba(0,0,0,.4);
	border-bottom: 2px solid rgba(51,51,51);
}
.business-content-container ul{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.business-content-container li{
	width: 50%;
	text-align: center;
	margin-bottom: 40px;
	justify-content: center; 
}
.business-content-container h2{
	font-size: 30px;
	margin-bottom: 5px;
}
.business-content-container img{
	width: 550px;
	height: 350px;
	margin-bottom: 5px;
}
.business-content-container p{
	line-height: 40px;
	padding: 0 50px;
	font-size: 19px;
	text-align: left;
}
/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------会社概要-----------------------------------------------------------------------------------*/
.company-profile-container{
	margin-bottom: 30px;
}
.company-profile-container h1{
	font-size: 35px;
	line-height: 35px;
}
.company-profile-container span{
	display: block;
	color: rgba(0,0,0,.4);
	font-size: 20px;
	margin-bottom: 15px;
	border-bottom: 1px solid rgba(51,51,51);
}
.company-profile-container ul{
	padding-left: 10px;
}
.company-profile-container li{
	font-size: 19px;
	line-height: 40px;
	padding: 5px 0;
}
/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------フッター-----------------------------------------------------------------------------------*/
footer{
	margin-bottom: 10px;
}






}