*{
	margin: 0;
	padding: 0;
	font-family:serif;
	-webkit-font-smoothing: antialiased;
	color: rgb(51,51,51);
}
a{
	text-decoration: none;
}
li{
	list-style: none;
}
/*ヘッダー*/
header{
	position: fixed;
	height: 80px;
	width: 100vw;
	background-color: white;
	z-index: 100;
	box-shadow: 0 0 4px rgba(0, 0, 0, .3);
}
.fa-bars{
	float: right;
	padding: 30px;
	font-size: 20px;
	color: rgb(51,51,51);
}
.header-img{
	float: left;
	margin-left: 10px;
	margin-top: 10px;
	height: 60px;
}
.nav-img{
	height: 60px;
}
.nav-img-li{
	height: 60px !important;
}
.pc-nav{
	display: none;
}
nav{
	margin-top:79px;
	display: none;
	position: fixed;
	z-index: 99; 
	width: 100vw;
	height: 100vh;
	background-color: white;
	text-align: left;
}
nav ul{
	width:100vw;
	height: 100vh;
	background-color: white;
	background-image: url();
	padding: 50px 0;
}
nav li{
	text-align: center;
	font-size: 18px;
	line-height: 100px;
	height: 100px;
	font-family: "Hiragino Sans";
	font-weight: 500;
	cursor: pointer;
	transition:all 0.3s;
	white-space: nowrap;
	color: rgb(51,51,51);
}
nav a{
	font-family: "Hiragino Sans";
	text-decoration: none;
}
nav span{
	float: right;
}

/*トップ画像*/
.img-box{
	padding-top: 0px;
	text-align: right;
	height:200px;
	background-size: cover;
}
.first{
	background-image: url(img1.jpg);
}
.second{
	background-image: url(img2.jpg);
}
.third{
	background-image: url(img3.jpg);
}
.main-image-text{
	filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.8));
	height: 50px;
	width: 100px;
}
.main-box p{
	position: relative;
	width: 200px;
	float: right;
	right: 20px;
	bottom: 170px;
	z-index: 100;
	font-size: 10px;
	color: white;
}
.main-box img{
	position: relative;
	width: 100px;
	height: 100px;
	float: left;
	right: 20px;
	bottom: 150px;
	z-index: 100;
	font-size: 10px;
	color: white;
}
.logo{
	text-align: center;
}
.logo img{
	width: 200px;
	height: 150px;
	margin-right:20px; 
}
/*サブ画像*/
.business-content{
	padding: 10px;
	background-image: url();
}
.business-content h1{
	font-size: 25px;
	padding-bottom: 5px;
}
.business-content ul{
	display: flex;
	flex-wrap: wrap;
	justify-content: center; 
	width: 100%;
}
.business-content li{
	width: 90%;
	text-align: center;
	margin-bottom: 30px;
}
.business-content img{
	width: 80%;
	margin-bottom: 5px;
}
.business-content-title{
	border-bottom: 1px solid rgba(51,51,51);
	margin-bottom: 30px;
	color: rgba(0,0,0,.5);

}
.corporatephilosophy{
	padding: 10px;
}
.corporatephilosophy h1{
	padding-top: 30px;
	font-size: 25px;
}
.corporatephilosophy h2{
	font-size: 15px;
}
.corporatephilosophy h3{
	font-size: 20px;
	border-bottom: 2px solid rgba(255,0,0,0.8);
	padding: 0;
	text-align: left;
}
.corporatephilosophy p{
	padding-top: 5px;
	font-weight: 700;
}
.corporatephilosophy img{
	width: 100%;
	height: 200px;
}
.history{
	padding: 10px;
}
.history h1{
	font-size: 25px;
	padding-left: 10px;
}
.history p{
	padding-left: 10px;
	color: rgba(0,0,0,.5);
}
.history ul{
	margin-left:10px;
	margin-top: 10px;
	padding-left: 10px;
	border-left: 1px solid rgba(255,0,0,0.8);
}
.history li{
	font-size: 14px;
	padding: 5px 0;
}

.age{
	padding-right: 10px;
}
.company-profile{
	padding: 10px;
	margin-bottom: 30px;
}
.company-profile h1{
	font-size: 21px;
	padding-left: 10px;
}
.company-profile p{
	padding-left: 10px;
	color: rgba(0,0,0,.5);
}
.company-profile ul{
	margin-left:10px;
	margin-top: 10px;
	padding-left: 10px;
	
}
.company-profile li{
	font-size: 14px;
	padding: 5px 0;
}
.company{
	padding-right: 25px;
}
.subimg-box2{
	height:250px;
	background-size: cover;
}
.one{
	background-image: url(img4.jpg);
}
.two{
	background-image: url(img5.jpg);
}
.subimg-box3{
	height:250px;
	background-size: cover;
}
.four{
	background-image: url(img6.jpg);
}
.five{
	background-image: url(IMG_1960.JPG);
}
.six{
	background-image: url(IMG_1965.JPG);
}

.text-box{
	margin-top: 10px;
	padding:30px 30px 40px 30px;
}
.text-box h2{
	line-height: 40px;
	font-weight: 400;
	font-size: 18px;
}
.text-box p{
	margin-top: 10px;
	line-height: 30px;
	font-size: 16px;
}
.first-text-box{
	margin-top: 10px;
	padding:20px 30px 50px 30px;
}
h3{
	padding: 20px;
	text-align: center;
	font-size: 14px;
}
/*フッター*/
footer{
	padding: 20px 30px;
}
footer a{
	display: block;
	color: rgb(51,51,51);
	font-size: 20px;
	margin-bottom: 5px;
}
.footer-image{
	width: 110px;
	margin-right: 20px;
}
.map-text-box{
	padding: 20px 5px 15px 5px;
}
.map-text-box h2{
	padding-bottom:3px ;
	font-size: 18px;
	font-weight: normal;
}
.map-text-box p{
	padding-left: 5px;
	font-size: 12px;
}
.map{
	
	margin: 0 auto;
	padding:0  20px;
	text-align: center;
}
.map p{
	text-align: left;
}
.map h1{
	font-size: 23px;
}
.map-title{
	border-bottom: 1px solid rgba(51,51,51);
	margin-bottom: 10px;
	color: rgba(0,0,0,.5);
}
.none{
	display: none;
}
.map-box{
	text-align: center;
}
.map iframe{
	width: 100%;
	height: 200px;
}
.map img{
	width: 100px;
}
#copyright{
	font-size: 11px;
	padding-top: 20px;
}
#main{
	color: white;
	background-color: white;
}

.slider {
    position:relative;
  z-index: 1;
  /*↑z-indexの値をh1のz-indexの値よりも小さくして背景に回す*/
}

.slider-item {
    width: 100%;/*各スライダー全体の横幅を画面の高さいっぱい（100%）にする*/
    height:100vh;/*各スライダー全体の縦幅を画面の高さいっぱい（100vh）にする*/
    background-repeat: no-repeat;/*背景画像をリピートしない*/
    background-position: center;/*背景画像の位置を中央に*/
    background-size: cover;/*背景画像が.slider-item全体を覆い表示*/
}

/*ドットナビゲーションの設定*/

.slick-dots {
 display: none;
}

.slick-dots li {
    display:none;
}

@media screen and (min-width: 960px) {
	/* 960px以上に適用されるCSS（PC用） */　　　　/*-----------------------------------------------------------------------------------*/

*{
	margin: 0;
	padding: 0;
	font-family:serif;
	-webkit-font-smoothing: antialiased;
	color: rgb(51,51,51);
}
/*ヘッダー*/
header{
	position: fixed;
	height: 80px;
	width: 100vw;
	background-color: white;
	z-index: 100;
	box-shadow: 0 0 4px rgba(0, 0, 0, .3);
}
.fa-bars{
	float: right;
	padding: 30px;
	font-size: 20px;
	color: rgb(51,51,51);
	cursor: pointer;
	margin-right: 10px;
}
.fa-bars:hover{
	color: black;
	transition: color 0.3s 0s ease-in-out;
}
.header-img{
	float: left;
	margin-left: 10px;
	margin-top: 10px;
	height: 60px;
}
.nav-img{
	height: 60px;
}
.nav-img-li{
	height: 60px !important;
}
.pc-nav{
	display: block;
	display: flex;
	list-style: none;
	float: left;
	line-height: 80px;
	padding-left: 80px;
	margin-top:3px; 
}
.pc-nav li{
	padding:0 30px;
	font-family: "游ゴシック";
	font-size: 15px;
	font-weight: 550;
}
.pc-nav li:hover{
	color: black;
	transition: all 0.3s 0s ease-in-out;
	text-decoration: underline;
}
nav{
	margin-top:79px;
	display: none;
	position: fixed;
	z-index: 99; 
	width: 100vw;
	height: 100vh;
	background-color: white;
	text-align: left;
}
nav ul{
	width:100vw;
	height: 100vh;
	background-color: white;
	background-image: url();
	padding: 50px 0;
}
nav li{
	text-align: center;
	font-size: 18px;
	line-height: 100px;
	height: 100px;
	font-family: "Hiragino Sans";
	font-weight: 500;
	cursor: pointer;
	transition:all 0.3s;
	white-space: nowrap;
	color: rgb(51,51,51);
}
nav a{
	font-family: "Hiragino Sans";
	text-decoration: none;
}
nav span{
	float: right;
}
.hide-btn{
	padding: 0 45px;
	height: 96px;
	text-align: right;
	transition:all 0.3s;
	cursor: pointer;
	line-height: 96px;
}
/*トップ画像*/
.img-box{
	padding-top: 0px;
	text-align: right;
	height:500px;
	background-size: cover;
}
.first{
	background-image: url(img1.jpg);
}
.second{
	background-image: url(img2.jpg);
}
.third{
	background-image: url(img3.jpg);
}

.history{
	padding:30px 100px 100px 100px;
}
.history h1{
	margin-left: 
}
.history ul{
	margin-left: 100px;
	margin-top: 20px;
	padding-left: 70px;
	border-left: 1px solid rgba(255,0,0,0.8);

}
.history li{
	font-size: 18px;
	padding: 10px 0;
}
.age{
	padding-right: 50px;
}

.company-profile{
	padding:30px 100px 100px 100px;
}
.company-profile ul{
	margin-left: 100px;
	margin-top: 20px;
	padding-left: 70px;
}
.company-profile li{
	font-size: 18px;
	padding: 10px 0;
}
.company{
	padding-right: 50px;
}
.business-content{
	padding:30px 100px 100px 100px;
}
.business-content ul{
	display: flex;
	justify-content: center; 
}
.business-content li{
	padding: 5px;
}
.business-content img{
	height: 200px;
}

.main-image-text{
	filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.8));
	height: 50px;
	width: 100px;
}
.main-box p{
	position: relative;
	width: 200px;
	float: right;
	right: 20px;
	bottom: 170px;
	z-index: 100;
	font-size: 10px;
	color: white;
}
.main-box img{
	position: relative;
	width: 100px;
	height: 100px;
	float: left;
	right: 20px;
	bottom: 150px;
	z-index: 100;
	font-size: 10px;
	color: white;
}
.logo{
	text-align: center;
}
.logo img{
	width: 200px;
	height: 150px;
	margin-right:20px; 
}
/*サブ画像*/
.subimg-box2{
	height:250px;
	background-size: cover;
}
.one{
	background-image: url(img4.jpg);
}
.two{
	background-image: url(img5.jpg);
}
.subimg-box3{
	height:250px;
	background-size: cover;
}
.four{
	background-image: url(img6.jpg);
}
.five{
	background-image: url(IMG_1960.JPG);
}
.six{
	background-image: url(IMG_1965.JPG);
}

.text-box{
	margin-top: 10px;
	padding:30px 30px 40px 30px;
}
.text-box h2{
	line-height: 40px;
	font-weight: 400;
	font-size: 18px;
}
.text-box p{
	margin-top: 10px;
	line-height: 30px;
	font-size: 16px;
}
.first-text-box{
	margin-top: 10px;
	padding:50px 100px 100px 100px;
}
h3{
	padding: 20px;
	text-align: center;
	font-size: 14px;
}
/*フッター*/
footer{
	padding: 20px 30px;
}
footer a{
	display: block;
	color: rgb(51,51,51);
	font-size: 20px;
	margin-bottom: 5px;
}
.footer-image{
	width: 110px;
	margin-right: 20px;
}
.map{
	padding:30px 100px 100px 100px;
}
.map ul{
	display: flex;
}
.map li{
	width: 50%;
}
#copyright{
	font-size: 11px;
	padding-top: 20px;
}
#main{
	color: white;
	background-color: white;
}

.slider {
    position:relative;
  z-index: 1;
  /*↑z-indexの値をh1のz-indexの値よりも小さくして背景に回す*/
}

.slider-item {
    width: 100%;/*各スライダー全体の横幅を画面の高さいっぱい（100%）にする*/
    height:100vh;/*各スライダー全体の縦幅を画面の高さいっぱい（100vh）にする*/
    background-repeat: no-repeat;/*背景画像をリピートしない*/
    background-position: center;/*背景画像の位置を中央に*/
    background-size: cover;/*背景画像が.slider-item全体を覆い表示*/
}

/*ドットナビゲーションの設定*/

.slick-dots {
 display: none;
}

.slick-dots li {
    display:none;
}

nav li:hover{
	color: black;
	transition: color 0.3s 0s ease-in-out;

}
.map-size{
	width: 80%;
	height: 500px;
}
.access{
	padding-bottom: 50px;
}

























}




